body {
    font-family: Arial, sans-serif;
    background-color: #d0ff28;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 60%;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input[type="range"] {
    width: 80%;
  }
  
  input[type="text"] {
    width: 80%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: #66fa7f;
    color: #fff;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #copyBtn {
    margin-left: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      width: 80%; /* Adjust width for smaller screens */
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    input[type="range"],
    input[type="text"] {
      width: 100%; /* Full width for input elements on smaller screens */
    }
  }