body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    text-align: center;
  }
  
  textarea {
    width: 300px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    body {
      font-size: 20px; /* Increase the font size for smaller screens */
      /* Add other necessary adjustments for smaller screens */
    }

    #length {
      font-size: 25px;
    }
  }